.wrapper {
 display: flex;
  flex-direction: column; /* <-- nodrošina vertikālu secību */
  align-items: center;
  justify-content: flex-start;
  gap: 12px; /* neliela atstarpe starp elementiem */
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background: #a89987;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.title {
 font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  letter-spacing: 6px;
  color: rgb(70, 65, 65)
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
}
.group {
  display: flex;
  flex-direction: column;
}
.input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}
.error {
  color: #b00020;
  font-size: 0.85rem;
}
.addButton {
  background-color: #516474;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.25s ease, transform 0.2s ease;
}