* {
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column; /* <-- nodrošina vertikālu secību */
  align-items: center;
  justify-content: flex-start;
  gap: 12px; /* neliela atstarpe starp elementiem */
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  background: #a89987;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: "Poppins", sans-serif;
}


  .title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  letter-spacing: 10px;
  color: rgb(70, 65, 65);
 text-shadow: 2px 2px 4px rgba(32, 29, 30, 0.4);
}

img {
  width: 100%;
  max-width: 400px;
  border-radius: 14px;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.35);
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
}


p {
  margin: 1rem 0;
  font-size: 1.2rem;
  color: #111010;
  min-height: 2.5rem;
}

.btnContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.btn {
  background-color: #7c5d72;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
  box-shadow: 0 15px 12px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.25s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: #005fa3;
  transform: translateY(-2px);
}

.btn:active {
  transform: translateY(1px);
}

@media (max-width: 900px) {
  .wrapper,
  .container {
    max-width: 95%;
    margin: 20px auto;
    padding: 16px;
  }
}

/* Tālruņiem — šauriem ekrāniem */
@media (max-width: 600px) {
  .wrapper,
  .container {
    max-width: 95%;
    padding: 12px;
    margin: 10px auto;
  }

  .title {
    font-size: 1.6rem;
    letter-spacing: 2px;
  }

  .form,
  .group {
    width: 100%;
  }

  .btn,
  .addButton {
    width: 50%;
    font-size: 0.95rem;
    padding: 0.5rem;
  }
  p{
    max-width: 80%;
  }
   img{
    width: 70%;
  }
}

/* Ļoti mazi ekrāni (<400px) */
@media (max-width: 400px) {
  .wrapper,
  .container {
    max-width: 95%;
    border-radius: 8px;
  }

  .title {
    font-size: 1.3rem;
  }

  .btn,
  .addButton {
    font-size: 0.9rem;
    padding: 0.4rem;
  }

  p,
  .description {
    font-size: 0.85rem;
  }
   p{
    max-width: 80%;
  }
  img{
    width: 70%;
  }
 
}