.container {
  display: flex;
  flex-direction: column; /* <-- nodrošina vertikālu secību */
  align-items: center;
  justify-content: flex-start;
  gap: 12px; /* neliela atstarpe starp elementiem */
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background: #a89987;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: "Poppins", sans-serif;
}


  .title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  letter-spacing: 10px;
  color: rgb(70, 65, 65)
}

img {
  width: 100%;
  max-width: 400px;
  border-radius: 14px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
}


p {
  margin: 1rem 0;
  font-size: 1.2rem;
  color: #111010;
  min-height: 2.5rem;
}

.btnContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.btn {
  background-color: #516474;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.25s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: #005fa3;
  transform: translateY(-2px);
}

.btn:active {
  transform: translateY(1px);
}